/**
 * Place your custom styles here.
 */
 
.see-footnote {

 vertical-align: super;
 font-size: smaller;	
	
} 

.member-biography p {
	
text-align: justify;
text-justify: inter-word;
	
}

.footnotes li{
	
	list-style-type: none;
	list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 1.5em;
	
}

ul.footnotes {
  padding: 0;	
}
.block-views-blockmembers-by-volume-members-1422-61 {
	
width: 47%;
float: left;
z-index: 100;
}

.block-views-blockmembers-by-volume-members-1640-60 {
	
width: 52%;
float: right;
z-index: 100;
}

.block-views-blockmembers-by-volume-members-1422-61 .form-inline .form-control,
.block-views-blockmembers-by-volume-members-1640-60 .form-inline .form-control{
display: block;
width: 250px;
	}

